node-linker=hoisted
frozen-lockfile=true
ignore-workspace-root-check=true
auto-install-peers=true
strict-peer-dependencies=false
public-hoist-pattern[]=*prisma*

# Exclude @discordjs/opus from installation
omit[]=@discordjs/opus

puppeteer_skip_download=true